__pycache__/
*.py[cod]
*$py.class


.venv/
venv/
ENV/
env/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

dist/
build/
*.egg-info/

.env

target/
*.class
*.jar
*.war
*.ear

libraries_repair_0/
libraries_repair_1/
libraries_repair_2/
libraries_final_ollama/
libraries_final_openrouter/