__pycache__/
*.py[cod]
*$py.class


.venv/
venv/
ENV/
env/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

dist/
build/
*.egg-info/

.env

target/
*.class
*.jar
*.war
*.ear

libraries/
old_pipelines/
libraries_initial/
libraries_sample/